{% extends "layout/base.html" %}

{% block meta_title %}Request PID{% endblock %}
{% block meta_keywords %}EUDI Wallet, PID, Enrolment{% endblock %}
{% block meta_description %}Request PID for EUDI Wallet{% endblock %}
{% block title %}{{ error_code }}{% endblock %}
{% block body_id %}responsive-main-nav{% endblock %}
{% block logo %}{% endblock %}

{% block content %}
<h1>Error</h1>
<div id="content" class="content-wrap content-center col-md-6 col-sm-7">
    <div class="genericErrors" id="genericErrorsDesc">
    </div>
    <p> {{ error }}</p>
</div>
{% endblock %}

{% block footer %}{% include "layout/_footer.html" %}{% endblock %}
