{% extends "layout/base.html" %}

{% block meta_title %}Request PID{% endblock %}
{% block meta_keywords %}EUDI Wallet, PID, Enrolment{% endblock %}
{% block meta_description %}Request PID for EUDI Wallet{% endblock %}
{% block title %}EUDIW Testing Issuer{% endblock %}
{% block body_id %}responsive-main-nav{% endblock %}

{% block content %}
<h1>EUDIW Testing Issuer</h1>
<div id="content" class="content-wrap content-center col-md-6 col-sm-7">
    <div class="genericErrors" id="genericErrorsDesc">
    </div>
    <p> This is a EUDIW Testing Issuer supporting PID and mDL in mDoc and SD-JWT VC format at the following OID4VCI url: <a href={{oidc}}>{{oidc}}</a></p>
    <p> Credential Offer url: <a href={{service_url}}/credential_offer>{{service_url}}/credential_offer</a></p>
    <p> Issuer repository can be found at: <a href=https://github.com/eu-digital-identity-wallet/eudi-srv-web-issuing-eudiw-py>https://github.com/eu-digital-identity-wallet/eudi-srv-web-issuing-eudiw-py</a></p>
    <p> Revocation repository can be found at: <a href=https://github.com/eu-digital-identity-wallet/eudi-srv-statuslist-py>https://github.com/eu-digital-identity-wallet/eudi-srv-statuslist-py</a></p>
    <p> Credential Revocation url: <a href={{revocation_url}}>{{revocation_url}}</a></p>
    <p>Guides:</p>
    <p><a href="static/issuer_guides/credential_offer_guide.html">Credential Offer Guide</a></p>
    <p><a href="static/issuer_guides/credential_offer_guide_pre_auth.html">Credential Offer Pre-Authorization Guide</a></p>
    <p><a href="static/issuer_guides/credential_offer_guide_deferred.html">Credential Offer Deferred Guide</a></p>
    <p><a href="static/issuer_guides/credential_offer_dynamic.html">Credential Offer Dynamic Guide</a></p>
    <p><a href="static/issuer_guides/revocation_guide.html">Revocation Guide</a></p>
</div>
{% endblock %}

{% block footer %}{% include "layout/_footer.html" %}{% endblock %}
