{#- Pieces of the credential selection forms (credential_offer, revocation_choice). -#}

{% macro credential_checkboxes(cred) -%}
<h3>Credentials</h3>
{% for credential_type in cred %}
    <h4>{{ credential_type }}</h4>
    {% for credential_id in cred[credential_type] %}
        <div class="form-check col-md-12">
            <label class="form-check-label">
                <input class="form-check-input" id="check" type="checkbox" name="{{ credential_id }}" value="{{ credential_id }}"  style="transform: scale(1.8);">
                {{ cred[credential_type][credential_id] }}
            </label>
        </div>
    {% endfor %}
{% endfor %}
{%- endmacro %}

{% macro submit_buttons() -%}
<div class="clearfix"></div>

<span class="more-submit">
    <input type="submit" name="proceed" value="Submit" class="btn btn-primary" title="Submit" id="btncheck" disabled />
    <input type="button" name="Cancelled" value="Cancel" id="cancelBtnId" class="btn btn-cancel btn-alternate cancellable" title="Cancel" data-action="home" />
</span>
{%- endmacro %}

{#- Submit is enabled while at least one credential is checked. #}
{% macro enable_submit_script() -%}
<script nonce="{{ csp_nonce() }}">
$(document).ready(function() {
  $('input[type="checkbox"]').change(function() {
    var atLeastOneChecked = $('input[type="checkbox"]:checked').length > 0;
    $('#btncheck').prop("disabled", !atLeastOneChecked);
  });
});
</script>
{%- endmacro %}
