{% extends "layout/base.html" %}
{% from "openid/_qr_code.html" import qr_code with context %}

{% block content %}
<h1>Request Credentials for your EUDI Wallet</h1>
<div id="content" class="content-wrap1 content-center col-md-6 text-center">
    {{ qr_code(qrcode) }}

    <div class="col-md-12 col-xs-12 " style="margin-top: 5%;">
        <label for="tx_code">Transaction Code</label>
        <input type="text" class="form-control" id="tx_code" name="tx_code" value="{{ tx_code }}" readonly  >
    </div>
    <a href="{{ wallet_dev }}" class="btn btn-primary">Use Wallet Tester</a>
    <a href="{{ url_data }}" class="btn btn-primary">Use EUDIW</a>
    <a href="credential_offer" class="btn btn-back">Back</a>
</div>
{% endblock %}
