{% extends "layout/base.html" %}
{% from "openid/_credential_select.html" import credential_checkboxes, submit_buttons, enable_submit_script with context %}

{% block head_extra %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/page-actions.js') }}" charset="UTF-8" defer="true"></script>
{% endblock %}

{% block content %}
<h1>Revoke Credentials from your EUDI Wallet</h1>
<div id="content" class="content-wrap1 content-center col-md-6 col-sm-7">
    <div class="genericErrors" id="genericErrorsDesc">
    </div>
    <h2>Please select credentials</h2>
    <form id="selectCredential" method="post" action="{{ redirect_url }}" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded;charset=UTF-8" autocapitalize="off" spellcheck="false">
        {{ credential_checkboxes(cred) }}
        {{ submit_buttons() }}
    </form>
</div>
<div id="validation-message" class="h2" role="status" aria-live="polite"></div>
{% endblock %}

{% block scripts %}{{ enable_submit_script() }}{% endblock %}
